#button-send{
    background-color: #FFFFFF;
    color:#387EF5;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#button-upload{
    background-color: #FFFFFF;
    color:#387EF5;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}