<ion-header style="background-color: #f5f6f7">
    <ion-navbar>
        <ion-title>
            <ion-icon name="chatbubbles"></ion-icon>&nbsp;&nbsp;Tin nhắn hệ thống
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let data of messages|async">
            <ion-item *ngIf="username === data.username" style="border-right: solid 5px red;">
                <p class="chat-text" item-left>
                    <strong>{{data.username}}: </strong> {{data.messageContent}}
                </p>
                <p class="chat-time" item-right>
                    {{data.date | date:'dd/MM/yyyy'}}
                </p>
            </ion-item>
            <ion-item *ngIf="username !== data.username" style="border-right: solid 5px green;">
                <p class="chat-text" item-left>
                    <strong>{{data.username}}: </strong> {{data.messageContent}}
                </p>
                <p class="chat-time" item-right>
                    {{data.date | date:'dd/MM/yyyy'}}
                </p>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
<ion-footer>
    <form #f="ngForm">
        <ion-grid>
            <ion-row style="border: 1px solid #CCCCCC;border-radius: 5pxs">
                <ion-col width-20 center>
                    <button id="button-upload" (click)="upload()" ion-button icon-only>
                        <ion-icon name="add"></ion-icon>
                    </button>
                </ion-col>
                <ion-col width-65>
                    <ion-input type="text" name="chatText" [(ngModel)]="messageContent" placeholder="Tin nhắn..."></ion-input>
                </ion-col>
                <ion-col width-20 center>
                    <button id="button-send" (click)="send()" round ion-button icon-only>
                        <ion-icon name="send"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-footer>